<h1>Items</h1>

<% @items.each do |item| %>
  <%= link_to item.name, item_path(item) %><br>
  <%= item.price %><br>
  <%= item.category %><br>
  <%= item.description %><br>
  <%= item.shop_location %><br>
  <%= item.available %><br>
  <%#= item.photo cl_image_tag %>
  <%= "-----------------------------------------" %><br>
<% end %>
