<%= render 'shared/search_form' %>

<div class="container">
  <h1>Items</h1>



  <div class="row">
    <% @items.each do |item| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path item.photo%>');">
        <div class="card-category">
          <%= link_to item.name, item_path(item) %><br>
        </div>
        <div class="card-description">
          <%= item.price %><br>
          <%= item.category %><br>
          <%= item.description %><br>
          <%= item.shop_location %><br>
          <%= item.available %><br>
        </div>

        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>

    </div>
  </div>
  <% end %>
</div>


</div>


