

<!--<div class="container">-->
 <!-- <h1 class="index-header"></h1> -->
<div class="content">
<div class="cards-container">

<div class="row" >

    <% @items.each do |item| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card-text">
      <%= link_to '#' do %>
   <%= image_tag('i_found_this.png') %>
   <%= link_to "", item_path(item), class: "card-link" %>
<% end %>

      </div>


      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%=cl_image_path item.photo%>');">
        <div class="card-description">
        </div>

        <div class="card-category"><h2><%= item.name %></h2>

        </div>
        <div class="card-header">

        </div>

        <% unless item.user.photo.nil? %>
        <div class="card-user">
         <%= cl_image_tag item.user.photo, height: 40, width: 40, crop: :fill %>
        </div>
         <% end %>

         <!-- <span>photo is:</span> -->
         <%#= cl_image_tag item.user.photo, height: 30, width: 40, crop: :fill %>

        <%= link_to "", item_path(item), class: "card-link" %>
      </div><p><%= item.category %></p>
    </div>


    <% end %>
  </div>
</div><!--cards-container-->

  <div id="map" style="position: relative; overflow: hidden; width: 50%; " data-markers="<%= @markers.to_json %>"  >
  </div>
</div>
