<div class="container">
  <div class="flex-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card-show flex-item text-left">
          <div class="card-show-arrow">
            <%= image_tag 'i_found_this' %>
          </div>
          <div class="card-show-image">
            <%= cl_image_tag @item.photo, height: 300, width: 375, crop: :fill %>
          </div>
          <div id="card-show-first-button">
            <%= button_to "Back to items", items_path, method: :get %>
          </div>
          <div id="card-show-scnd-button">
            <% if policy(@item).edit? %>
            <%= button_to "Edit item", edit_item_path, method: :get %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 ">
        <div class="card-show flex-item text-left" >
          <div class="card-show-text">
            <h2><%= @item.name %></h2>
            <p><%= @item.shop_location %></p>
            <p><%= @item.description %></p>
            <p><%= @item.price %></p>
            <p><%= @item.category %></p>
           </div>
          <div class="card-show-available">
            <% if @item.available %>
              <i class="fa fa-check-square-o"></i>
              <i class="fa fa-square-o"></i>This item is available
            <% else %>
              <i class="fa fa-check-square-o"></i>
              <i class="fa fa-square-o"></i>This item is already reserved
            <% end %>
            <% if policy(@item).edit? && @item.available%>
              <%= button_to "Reserve item", edit_item_path, method: :get, :form_class => "my_class" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












