  <h1><%= @item.name %></h1>
  <p><%= @item.shop_location %></p>
  <p><%= @item.description %></p>
  <p><%= @item.price %></p>
  <p><%= @item.category %></p>
  <p><%= @item.photo %></p>

<!--- Here follow links that should be used -->
<%#= cl_image_tag("The item image",
      width: 400, height: 300, crop: :fill) %>
<%#= link_to: "Edit", edit_item(@item)   %>






